# Ignore Python virtual environment
rasa_env/
venv

# Ignore Rasa specific files
.rasa/
models/

# Ignore other common files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
